In [3]:
import pandas as pd
import sasoptpy as so
import requests
import os
import time

In [5]:
# Data
r = requests.get('https://fantasy.premierleague.com/api/bootstrap-static/')
fpl_data = r.json()

In [9]:
element_data = pd.DataFrame(fpl_data['elements'])

In [10]:
element_data.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100.0,75.0,438098,-1,1,-1,1,0,3,1.0,...,167,104,598,270,598,270,564,245,0.0,0.0
1,75.0,NaN,205651,-1,1,-2,2,0,4,0.8,...,37,17,619,68,619,68,169,29,0.0,0.0
2,NaN,NaN,226597,0,0,0,0,0,2,7.0,...,80,5,31,8,35,10,28,9,1.0,1.0
3,NaN,NaN,219847,0,0,1,-1,1,4,8.0,...,12,4,17,3,18,3,18,5,1.0,1.0
4,0.0,0.0,463748,0,0,0,0,0,1,0.0,...,602,63,379,45,379,45,507,63,0.0,0.0

In [15]:
team_data = pd.DataFrame(fpl_data['teams'])
team_data.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1350,1380,1370,1370,1330,1390,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1120,1245,1110,1140,1130,1350,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1100,1100,1075,1100,1130,1105,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1100,1105,1095,1100,1110,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1100,1100,1100,1105,1100,1100,131

In [18]:
elements_team = pd.merge(element_data, team_data, left_on='team', right_on='id')

In [21]:
with pd.option_context('display.max_rows', None):
    print(elements_team.loc[0])

chance_of_playing_next_round                                  100.0
chance_of_playing_this_round                                   75.0
code_x                                                       438098
cost_change_event                                                -1
cost_change_event_fall                                            1
cost_change_start                                                -1
cost_change_start_fall                                            1
dreamteam_count                                                   0
element_type                                                      3
ep_next                                                         1.0
ep_this                                                         0.8
event_points                                                      0
first_name                                                    FÃ¡bio
form_x                                                          0.0
id_x                                                              1
in_dreamteam                                                  False
news
news_added                              2024-08-12T17:00:05.432893Z
now_cost                                                         54
photo                                                    438098.jpg
points_per_game                                                 0.0
second_name                                         Ferreira Vieira
selected_by_percent                                             0.0
special                                                       False
squad_number                                                   None
status                                                            a
team                                                              1
team_code                                                         3
total_points                                                      0
transfers_in                                                    395
transfers_in_event                                              311
transfers_out                                                  1186
transfers_out_event                                             312
value_form                                                      0.0
value_season                                                    0.0
web_name                                               FÃ¡bio Vieira
minutes                                                           0
goals_scored                                                      0
assists                                                           0
clean_sheets                                                      0
goals_conceded                                                    0
own_goals                                                         0
penalties_saved                                                   0
penalties_missed                                                  0
yellow_cards                                                      0
red_cards                                                         0
saves                                                             0
bonus                                                             0
bps                                                               0
influence                                                       0.0
creativity                                                      0.0
threat                                                          0.0
ict_index                                                       0.0
starts                                                            0
expected_goals                                                 0.00
expected_assists                                               0.00
expected_goal_involvements                                     0.00
expected_goals_conceded                                        0.00
influence_rank                                                  597
influence_rank_type                                             266
creativity_rank                                                 599
creativity_rank_type                                            271
threat_rank                                                     588
threat_rank_type                                                265
ict_index_rank                                                  602
ict_index_rank_type                                             271
corners_and_indirect_freekicks_order                            NaN
corners_and_indirect_freekicks_text
direct_freekicks_order                                          NaN
direct_freekicks_text
penalties_order                                                 4.0
penalties_text
expected_goals_per_90                                           0.0
saves_per_90                                                    0.0
expected_assists_per_90                                         0.0
expected_goal_involvements_per_90                               0.0
expected_goals_conceded_per_90                                  0.0
goals_conceded_per_90                                           0.0
now_cost_rank                                                   167
now_cost_rank_type                                              104
form_rank                                                       598
form_rank_type                                                  270
points_per_game_rank                                            598
points_per_game_rank_type                                       270
selected_rank                                                   564
selected_rank_type                                              245
starts_per_90                                                   0.0
clean_sheets_per_90                                             0.0
code_y                                                            3
draw                                                              0
form_y                                                         None
id_y                                                              1
loss                                                              0
name                                                        Arsenal
played                                                            0
points                                                            0
position                                                          0
short_name                                                      ARS
strength                                                          5
team_division                                                  None
unavailable                                                   False
win                                                               0
strength_overall_home                                          1350
strength_overall_away                                          1380
strength_attack_home                                           1370
strength_attack_away                                           1370
strength_defence_home                                          1330
strength_defence_away                                          1390
pulse_id                                                          1
Name: 0, dtype: object

In [22]:
review_data = pd.read_csv('../data/fplreview.csv')

In [24]:
review_data.head()

,Pos,ID,Name,BV,SV,Team,3_xMins,3_Pts,4_xMins,4_Pts,...,6_Pts,7_xMins,7_Pts,8_xMins,8_Pts,9_xMins,9_Pts,10_xMins,10_Pts,Elite%
0,M,1,FÃ¡bio Vieira,5.4,5.4,Arsenal,0,0.00,4,0.23,...,0.67,9,0.70,10,0.61,9,0.56,11,0.63,0.00
1,F,2,G.Jesus,6.8,6.8,Arsenal,1,0.10,30,1.84,...,2.85,35,2.94,35,2.29,35,2.15,37,2.30,0.00
2,D,3,Gabriel,6.0,6.0,Arsenal,88,4.26,86,3.19,...,4.75,81,4.74,80,3.64,78,3.06,77,3.08,0.45
3,F,4,Havertz,8.1,8.1,Arsenal,90,5.50,84,4.23,...,5.62,79,5.85,79,4.23,78,4.14,78,4.14,0.01
4,G,5,Hein,4.0,4.0,Arsenal,0,0.00,0,0.00,...,0.00,0,0.00,0,0.00,0,0.00,0,0.00,0.00

In [25]:
merged_data = pd.merge(elements_team, review_data, left_on=['name', 'web_name'], right_on=['Team', 'Name'])

In [34]:
with pd.option_context('display.max_rows', None):
    print(merged_data[merged_data['web_name'] == 'Saka'].iloc[0])

chance_of_playing_next_round                   NaN
chance_of_playing_this_round                   NaN
code_x                                      223340
cost_change_event                                0
cost_change_event_fall                           0
cost_change_start                                0
cost_change_start_fall                           0
dreamteam_count                                  1
element_type                                     3
ep_next                                       10.0
ep_this                                       10.0
event_points                                     6
first_name                                  Bukayo
form_x                                         9.0
id_x                                            17
in_dreamteam                                  True
news
news_added                                    None
now_cost                                       100
photo                                   223340.jpg
points_per_game                                9.0
second_name                                   Saka
selected_by_percent                           34.1
special                                      False
squad_number                                  None
status                                           a
team                                             1
team_code                                        3
total_points                                    18
transfers_in                                452656
transfers_in_event                          212368
transfers_out                               248976
transfers_out_event                         150630
value_form                                     0.9
value_season                                   1.8
web_name                                      Saka
minutes                                        166
goals_scored                                     1
assists                                          2
clean_sheets                                     2
goals_conceded                                   0
own_goals                                        0
penalties_saved                                  0
penalties_missed                                 0
yellow_cards                                     1
red_cards                                        0
saves                                            0
bonus                                            2
bps                                             63
influence                                     92.0
creativity                                    89.1
threat                                       105.0
ict_index                                     28.6
starts                                           2
expected_goals                                0.40
expected_assists                              0.47
expected_goal_involvements                    0.87
expected_goals_conceded                       1.57
influence_rank                                   7
influence_rank_type                              4
creativity_rank                                  7
creativity_rank_type                             6
threat_rank                                      3
threat_rank_type                                 2
ict_index_rank                                   1
ict_index_rank_type                              1
corners_and_indirect_freekicks_order           1.0
corners_and_indirect_freekicks_text
direct_freekicks_order                         NaN
direct_freekicks_text
penalties_order                                1.0
penalties_text
expected_goals_per_90                         0.22
saves_per_90                                   0.0
expected_assists_per_90                       0.25
expected_goal_involvements_per_90             0.47
expected_goals_conceded_per_90                0.85
goals_conceded_per_90                          0.0
now_cost_rank                                    5
now_cost_rank_type                               4
form_rank                                        8
form_rank_type                                   5
points_per_game_rank                             9
points_per_game_rank_type                        6
selected_rank                                    7
selected_rank_type                               3
starts_per_90                                 1.08
clean_sheets_per_90                           1.08
code_y                                           3
draw                                             0
form_y                                        None
id_y                                             1
loss                                             0
name                                       Arsenal
played                                           0
points                                           0
position                                         0
short_name                                     ARS
strength                                         5
team_division                                 None
unavailable                                  False
win                                              0
strength_overall_home                         1350
strength_overall_away                         1380
strength_attack_home                          1370
strength_attack_away                          1370
strength_defence_home                         1330
strength_defence_away                         1390
pulse_id                                         1
Pos                                              M
ID                                              17
Name                                          Saka
BV                                            10.0
SV                                            10.0
Team                                       Arsenal
3_xMins                                         87
3_Pts                                         6.79
4_xMins                                         86
4_Pts                                          5.3
5_xMins                                         84
5_Pts                                         4.04
6_xMins                                         80
6_Pts                                         7.45
7_xMins                                         78
7_Pts                                         7.45
8_xMins                                         80
8_Pts                                         5.41
9_xMins                                         80
9_Pts                                         5.32
10_xMins                                        80
10_Pts                                        5.35
Elite%                                         0.9
Name: 15, dtype: object

In [35]:
merged_data.set_index(['id_x'], inplace=True)

In [49]:
next_gw = int(review_data.keys()[6].split('_')[0])

In [50]:
next_gw

3

In [52]:
type_data = pd.DataFrame(fpl_data['element_types']).set_index(['id'])

In [54]:
type_data.head()

,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_select,squad_max_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
id,,,,,,,,,,,,
1,Goalkeepers,GKP,Goalkeeper,GKP,2,None,None,1,1,True,[12],67
2,Defenders,DEF,Defender,DEF,5,None,None,3,5,False,[],205
3,Midfielders,MID,Midfielder,MID,5,None,None,2,5,False,[],283
4,Forwards,FWD,Forward,FWD,3,None,None,1,3,False,[],72

In [55]:
model = so.Model(name='single_period')

NOTE: Initialized model single_period.